@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: "Lato", sans-serif;
}

body {
  margin-top: 0%;
  background-image: url('/Images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-left: 0%;
  margin-bottom: 0%;
}

body::-webkit-scrollbar {
  display: none;
}

/* Estilos do navegador lateral */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  overflow-x: hidden;
  font-size: 17px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: #a1a1a1 4px 0px 8px 4px;
}

.sidenav::-webkit-scrollbar {
  display: none;
}

.sidenav .logo{
  padding: 0%;
  margin: 35px;
  margin-bottom: 0px;
}

.sidenav a {
  height: 30px;
  text-decoration: none;
  color: #7E7E7E;
  display: block;
  padding: 5px;
  margin-bottom: 5px;
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color:  transparent;
}

.button-image {
  width: 10%;
  margin-left: 30px;
}

.sidenav a e {
  vertical-align: middle;
  position: absolute;
  margin-left: 5px;
}

.sidenav a f {
  vertical-align: middle;
  position: absolute;
  margin-left: 5px;
  /*color: #2C363E; */
}

.nav-title {
  color: #ABABAB;
  margin-bottom: 5%;
  margin-left: 35px;
}

.nav-menu {
  margin-top: 5%;
}

.sidenav .nav-menu .sub-menu {
  margin-top: 15%;
  margin-bottom: 40%;
}

.sidenav a:hover {
 /* background-color: #f3f3f3;*/
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color:  #98C33E;
  color: #2C363E;
  
}

.sidenav .lower-part a:hover{
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color:  transparent;
  color: #2C363E;
}

.navbar .lower-part {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/* Estilos do ID do utilizador */
.welcome {
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.welcome-text {
  font-size: smaller;
  color: #7E7E7E;
}

.user {
  font-size: larger;
  font-weight: bold;
}

.user_type {
  font-size: smaller;
  font-weight: lighter;
}
/*End of sidenav*/

/* Main */
.main{
  height:800px;
  padding: 2%;
  padding-bottom: 0;
  margin-left: 250px; 
  display: grid;
  grid-template-columns: 20% 78%;
  grid-template-rows: 15% 5% 30% 5% 39%;
  grid-gap: 2%;
}


.headerIcons {
  grid-row: 1;
  grid-column: 1;
  max-width: 90%;
  object-fit:cover;
  text-align: center;
}

/*font size for the header title*/
#headerTitle{
  font-size: 20px;
  color: #2C363E;
}

/*font size for the header text*/
#headerSubText{
  font-size: 16px;
  color: #7E7E7E;
}

.pageIdentifier {
  grid-row: 2;
  grid-column: 1 / 2;
  color:#7E7E7E;
}

.transparentBar{
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  padding: 14px;
  background-color: #ffffff63;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 20% 78%;
  grid-gap: 2%;
  z-index: 10;
}

.content-profile {
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  z-index: 100;
}

.profileImg {
  align-self: center;
  width: 120px;
  border-radius: 10px;
}

.userName {
  margin-top: 2px;
  text-align: center;
  font-weight: bolder;
  font-size: 14px;
}

.category {
  text-align: center;
  font-weight: lighter;
  font-size: 14px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 5;
  width: 80px;
  height: 15px;
  border-radius: 20px;
  margin: auto;
  background-image: linear-gradient(to bottom, #98C33E, #005716);
  border: none;
}

.button-container {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 8px;
}

.button-container:hover{
  color:#31ADE0;
  background-color: linear-gradient(to bottom, #98C33E, #005716);
}

.button-container:active{
  color:white;
  background-color: linear-gradient(to bottom, #005716, #98C33E);
}

.perfilInfo {
  grid-column: 2;
  display: grid;
  grid-template-columns: 10.5% 89%;
  grid-template-rows: 12% 12% 12% 12% 12% 12% 12% 12%; 
  grid-gap: 0.5%;
}

.perfilInfo button{
  color: #98C33E;
  border: none;
  background-color: rgb(255, 255, 255, 0);
}

.perfilInfo button:hover{
  text-decoration: underline;
}

.perfilInfo button:active{
  color: #31ADE0;
}

.column1 {
  grid-column: 1;
  vertical-align: middle;
  font-weight: bolder;
  font-size: 12px;
}

.column2 {
  grid-column: 2;
  vertical-align: middle;
  font-size: 12px;
}

.perfilDetailLeft {
  padding-left: 8px;
  grid-column: 1;
  grid-row: 5;
  display: grid;
  grid-template-rows: 5% 30% 5% 40%;
  font-size: 12px;
  z-index: 1;
}

.perfilDetailRight {
  padding-right: 8px;
  grid-column: 2;
  grid-row: 5;
  display: grid;
  grid-template-rows: 5% 30% 5% 40%;
  font-size: 12px;
  z-index: 1;
}

.detailTitle1 {
  font-weight: bold;
  padding-left: 8px;
  background-image: linear-gradient(to RIGHT, #98C33E, #31ADE0);
  border-top-left-radius: 8px;
  
}

.detailTitle2 {
  font-weight: bold;
  padding-left: 8px;
  background-image: linear-gradient(to LEFT, #98C33E, #31ADE0);
}

.detailContent {
  padding-left: 8px;
  padding-right: 8px;
}

.field-input {
  width: 85%;
  height: 18px;
  align-self: center;
  border: none;
  border-color: #DCDCDC;
}

.field-input-bottom-left {
  width: 100%;
  height: 90%;
  padding: 0;
  border: none;
  border-bottom-left-radius: 8px;
}

.field-input-bottom-right {
  width: 100%;
  height: 90%;
  padding: 0;
  border: none;
}

.field-input-bottom::placeholder {
  vertical-align: text-top;
} 

.popup {
  position: absolute;
  margin-top: 150px;
  width: 50%;
  height: 50%;
  padding: 2%;
  color: #7E7E7E;
  border-radius: 10px;
  background-color: #31ADE0;
  box-shadow: #a1a1a1 4px 0px 8px 4px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 27% 19% 19% 19% 8%;
  grid-gap: 2%;
  z-index: 200;
}

.popup button.close-popup {
  position: absolute;
  width: 22px;
  margin-top: 14px;
  margin-left: 94%;
  font-size: 12px;
  color: #31ADE0;
  border: none;
  border-radius: 12px;
  background-color:#98C33E;
  transition: 0.5s;
}

.popup button.close-popup:hover {
  background-color: red;
}

.popup button.close-popup:active {
  background-color: white;
}

.popup .title {
  color: white;
  font-size: 24px;
  grid-column: 1 / 4;
}

.popup .field-input-adress {
  grid-column: 1 / 4;
}

.popup .field-input-city {
  grid-column: 1 / 3;
}

.popup input {
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-style: none;
}

.popup button.adress-submit-button {
  color: white;
  border-style: none;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #98C33E, #005716);
}

.popup button.adress-submit-button:hover {
  font-style: italic;
}

.popup button.adress-submit-button:active {
  color:#31ADE0;
  background-image: linear-gradient(to bottom, #005716, #98C33E);
}

.popup1 {
  position: absolute;
  margin-top: 150px;
  width: 50%;
  height: 28%;
  padding: 2%;
  color: #7E7E7E;
  border-radius: 10px;
  background-color: #31ADE0;
  box-shadow: #a1a1a1 4px 0px 8px 4px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 38% 10% 38% 10%;
  grid-gap: 2%;
  z-index: 200;
}

.popup1 button.close-popup {
  position: absolute;
  width: 22px;
  margin-top: 14px;
  margin-left: 94%;
  font-size: 12px;
  color: #31ADE0;
  border: none;
  border-radius: 12px;
  background-color:#98C33E;
  transition: 0.5s;
}

.popup1 button.close-popup:hover {
  background-color: red;
}

.popup1 button.close-popup:active {
  background-color: white;
}

.popup1 .title {
  color: white;
  font-size: 24px;
  grid-column: 1 / 4;
}

.popup1 .field-input-telephone {
  grid-column: 1 / 3;
  grid-row: 3;
}

.popup1 input {
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-style: none;
}

.popup1 button.telephone-submit-button {
  color: white;
  border-style: none;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #98C33E, #005716);
  grid-row: 3;
}

.popup1 button.telephone-submit-button:hover {
  font-style: italic;
}

.popup1 button.telephone-submit-button:active {
  color:#31ADE0;
  background-image: linear-gradient(to bottom, #005716, #98C33E);
}

.popup2 {
  position: absolute;
  margin-top: 150px;
  width: 50%;
  height: 50%;
  padding: 2%;
  color: #7E7E7E;
  border-radius: 10px;
  background-color: #31ADE0;
  box-shadow: #a1a1a1 4px 0px 8px 4px;
  display: grid;
  grid-template-columns: 26% 35% 35%;
  grid-template-rows: 30% 20% 23% 23%;
  grid-gap: 2%;
  z-index: 200;
}

.popup2 button.close-popup {
  position: absolute;
  width: 22px;
  margin-top: 14px;
  margin-left: 94%;
  font-size: 12px;
  color: #31ADE0;
  border: none;
  border-radius: 12px;
  background-color:#98C33E;
  transition: 0.5s;
}

.popup2 button.close-popup:hover {
  background-color: red;
}

.popup2 button.close-popup:active {
  background-color: white;
}

.popup2 .title {
  color: white;
  font-size: 24px;
  grid-column: 1 / 4;
}

.profile-image-wrapper {
  vertical-align: bottom;
  width: 100%;
  padding: 5%;
  background-color: white;
  border: white;
  border-radius: 10px;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  justify-self: center;
  grid-row: 2 / 5;
}

.profile-image-button {
  vertical-align: bottom;
  border-style: none;
  background: url(../Images/perfilUtente.svg) no-repeat;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bolder;
  font-size: larger;
}

.profile-image-button:hover {
  opacity: 0.5;
}

.profile-image-button:active {
  opacity: 1;
}

.popup2 .field-input-telephone {
  grid-column: 1 / 3;
  grid-row: 3;
}

.popup2 input {
  padding: 10px;
  width: 100%;
  height: 40%;
  border-radius: 10px;
  border-style: none;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.popup2 button.username-submit-button {
  height: 80%;
  width: 40%;
  justify-self:right;
  justify-content:center;
  color: white;
  border-style: none;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #98C33E, #005716);
  grid-row: 4;
  grid-column: 2 / 4;
}

.popup2 button.username-submit-button:hover {
  font-style: italic;
}

.popup2 button.username-submit-button:active {
  color:#31ADE0;
  background-image: linear-gradient(to bottom, #005716, #98C33E);
}

.hidden {
  display: none;
}

/* CAROUSEL */
.carousel {
  grid-column: 1 / 3;
  grid-row: 5;
}

.carousel-control-prev {
  margin-left: -70px;
}

.carousel-control-next{
  margin-right: -70px;
}

.carousel-control-prev-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2331ADE0' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon{

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2331ADE0' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;  
}

.carousel-item {
  margin-top: 30px;
  width: 100%;
  height: 250px; /* example */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}
/* CAROUSEL END */